<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="mySuite">
  <test verbose = "1" thread-count="5" name="myTest">
    <classes>
      <class name="ex05_verbose.test1"/>
      <class name="ex05_verbose.test2"/>
    </classes>
  </test> <!-- myTest -->
</suite> <!-- mySuite -->
